body{
    background-color: black;
    color: white;
    margin: 0 auto;
    /* background-image: url('img/abstract1.jpg'); */
}
div.heading{
    background-color: rgb(73, 121, 243);
    /* position: fixed; */
    text-align: center;
    z-index: 1;
}
h1{
    font-family: Roboto, sans-serif;
    border: 8px solid white; 
   padding: 6px 12px;
    border-radius: 36px;
    display: inline-block;
}

.banner{
    max-width: 100%;
    position: relative;
}
.main-nav{
    position: absolute;
    top: 100px;
}
.main-nav li{
    background-color: beige;
    
}