body{
    margin: 0;
    padding: 0;
}

div.banner{
    background-color: 	tomato;
    position: sticky;
}
.banner{
    text-align: center;
}

div.title{
    border: 3px solid white;
    display: inline-block;
    border-radius: 25px;
    position: absolute;
    top: 70px;
    left: 200px;
    font-family: Roboto;
    padding: 0 5px;
    color: white;
}

div.artist{
    border: 3px solid white;
    display: inline-block;
    border-radius: 25px;
    position: absolute;
    top: 70px;
    right: 200px;
    font-family: Roboto;
    padding: 0 5px;
    background-color: black;
    color: white;
}